@import url('https://fonts.googleapis.com/css?family=Raleway:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
  color: whitesmoke;
  text-shadow: #000;
}

.container {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container-tournaments {
  overflow-y: scroll;
  box-sizing: content-box;
}

.nav-bar {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar img {
  max-width: 20%;
  max-height: 20%;
}

.nav-bar p {
  font-weight: bold;
  font-size: 5vw;
  color: rgba(255, 255, 255, 0.5);
}

.footer {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.5);
  color: #f9f4f7;
  height: 8vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  position: relative;
}

.footer-button {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  color: #f9f4f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.footer-button img {
  max-width: 12%;
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.footer-button a:active {
  text-decoration: none;
}

.footer-button a:active {
  text-decoration: none;
}

/* TEXT STYLES */

h1 {
  font-size: 3wv;
  text-align: center;
  font-weight: bolder;
}

h2 {
  font-size: 3wv;
  font-weight: bolder;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 1.3em;
  margin: 0 auto;
  text-align: center;
}

/* Forms */

input[type='text'],
textarea,
input[type='number'],
input[type='file'],
input[type='password'] {
  font-size: 1em;
  color: whitesmoke;
  border: none !important;
  background-color: rgba(255, 255, 255, 0) !important;
  margin: 1vh auto;
  width: 50%;
  height: 4vh;
  padding: 2%;
}
/* 
input[type='submit']:disabled {
  color: whitesmoke;
  border: 1px solid whitesmoke;
} */

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-weight: 700;
  color: #8aad87;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.credentials {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.credentials label {
  text-align: center;
  display: block;
  /* flex-direction: column; */
}

.tournament-image {
  width: auto;
  height: 60px;
  margin: 15px;
}

.tournament-image-small {
  width: 10vw;
  margin: 2vw;
}

/* TOURNAMENT CELLS */

.tournament-form-outline {
  background-color: orange;
  box-shadow: 1px 1px teal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 30vh;
  width: 80vw;
  border-radius: 4px;
  margin: 0 auto;
}

.tournament-cell {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  cursor: pointer;
  flex-shrink: 1;
  border-radius: 4px;
  background-color: orange;
  margin: 8px;
}

.tournament-cell-section {
  overflow: auto;
  margin: auto;
}

.player-name {
  margin: auto;
  font-size: 14px;
}

.tournament-cell img {
  margin: auto;
  max-width: 60%;
  padding: 2px;
  /* max-height: 60%; */
}

.tournament-cell a {
  text-decoration: none;
}

/* RIBBON */

.ribbon-wrap {
  height: 10vh;
  width: 100%;
  background-color: yellow;
  /* padding: 20px; */
  z-index: 1;
  margin: 5vh auto;
  position: relative;
}

.ribbon {
  font-size: 12px;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  width: 30%;
  height: 24px;
  position: relative;
  background: rgb(238, 174, 202);
  color: #fff;
  text-align: center;
  padding: 1em 2em; /* Adjust to suit */
  margin: 0 auto; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid rgb(238, 174, 202);
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  content: '';
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #804f7c transparent transparent transparent;
  bottom: -1em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}

/* BUTTONS-------------  */

button {
  height: 6vh;
  /* width: 20vw; */
  border: none;
  box-shadow: 2px 2px teal;
  text-shadow: 1px 1px teal;
  border-radius: 5px;
  margin: 0 auto;
  color: whitesmoke;
  font-size: 12px;
}

.red-bg {
  background-color: red !important;
}

.button:hover {
  background: rgb(238, 174, 202);
}

.button:active {
  transform: translateY(-4px);
}

/* PSEUDO BRACKETS --------------- */

.game-tables {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  margin: 10px;
  background-color: #f9f4f7;
}

.game-cell {
  /* background-color: #003ace88; */
  border: 1px solid #8aad87;
  padding: 5px;
  margin: 20px auto;
  width: 80%;
  height: 150px;
  border-radius: 10px;
  /* box-shadow: 0 9px #999; */
}

.scores-line {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  margin: 10px;
}
.gap {
  height: 20px;
  width: 100%;
}

.player-card {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.player-card img {
  height: 50px;
  text-align: left;
}

.player-card p {
  text-align: right;
}


@media (min-width: 1200px) {
  
  .container {
    /* background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden; */
    width: 40vw;
    margin: auto;
  }
  
}